__pycache__/
*.py[cod]
*$py.class

.env
.venv
venv/
ENV/
env/

.ipynb_checkpoints

.DS_Store        # Mac
Thumbs.db        # Windows
.jupyter/

*.log
*.tmp
*.swp

data/processed/labeled_signals/*.parquet

# Large dense adjacency files
data/graphs/adjacency/
data/graphs/*_adj.csv
anaconda_projects/ 
